.weather-app-wrapper {
  max-width: 700px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #d6d2d7;
  border-radius: 5px;
}

.weather-app {
  font-family: Arial, Helvetica, sans-serif;
  color: #7e7c7e;
}
