ul {
  padding-top: 18px;
}

.currentTempWrapper {
  margin-top: 10px;
}

.currentConditionImage {
  min-height: 80px;
  position: relative;
  top: -10px;
}

.currentTemp {
  color: #1e1d1e;
  font-size: 45px;
  font-weight: 100;
  display: inline;
}

.units {
  position: relative;
  top: -20px;
}

#conditions {
  list-style: none;
  line-height: 1;
}

#units .active {
  color: #7e7c7e;
  cursor: default;
}
